@import 'tailwindcss';

@theme {
  --color-main: #191919;
  --color-secondary: #7c7c7c;

  --color-background: #f5f5f5;
  --color-border: #e6e6e6;
  --color-icon: #ababab;

  --color-theme-50: #f2f8ff;
  --color-theme-100: #dfeefe;
  --color-theme-300: #8ac2ff;
  --color-theme-500: #2e90ff;
  --color-theme-900: #004187;

  --color-danger: #e71d1d;
  --color-danger-bg: #fff7f8;

  /*shadow*/
  --shadow-bottom: 0 2px 12px rgba(0, 0, 0, 0.08);
}

html,
body,
#root {
  @apply m-0 h-full w-full p-0;
  background-color: var(--color-background);
  overflow: hidden;
}

.lucide {
  width: 18px;
  height: 18px;
}

.noteview-readonly .bn-editor {
  padding: 0 !important;
}

.noteview-readonly .bn-side-menu .bn-button svg {
  height: 20px !important;
  width: 20px !important;
  color: var(--color-icon) !important;
}
